@import "tailwindcss";

@layer base {
  body {
    font-family: 'Comfortaa', sans-serif;
  }
}

@theme {
  --animate-marquee: marquee 25s linear infinite;

  @keyframes marquee {
    from {
      transform: translateX(0);
    }

    to {
      transform: translateX(-100%);
    }
  }
}

html {
  @apply scroll-smooth;
}

body {
  @apply bg-slate-50 text-slate-900 font-normal;
}